<p> Atualmente só tentei trabalhar um pouco com a base de dados, e gerar os valores que precisaremos para os gráficos. Fiquem livres para qualquer observação ou correção, ou avisar se estiver tudo errado ou desnecessário.</p>
<p> A base de dados usada para os resultadoa abaixo foi baixada do site no dia 21/08</p>

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
tab = pd.read_csv('caso_full.csv')

In [3]:
tab.dropna(axis=0,subset=['city_ibge_code'],inplace=True)
tab = tab.astype({'city_ibge_code':int},copy=False)
tab

,city,city_ibge_code,date,epidemiological_week,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,São Paulo,3550308,2020-02-25,9,12252023.0,False,False,1,0.00816,2020-02-25,0.0000,0,1,city,SP,1,0
1,NaN,35,2020-02-25,9,45919049.0,False,False,1,0.00218,2020-02-25,0.0000,0,1,state,SP,1,0
2,São Paulo,3550308,2020-02-26,9,12252023.0,False,False,1,0.00816,2020-02-26,0.0000,0,2,city,SP,0,0
3,NaN,35,2020-02-26,9,45919049.0,False,False,1,0.00218,2020-02-26,0.0000,0,2,state,SP,0,0
4,São Paulo,3550308,2020-02-27,9,12252023.0,False,False,1,0.00816,2020-02-27,0.0000,0,3,city,SP,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582692,NaN,43,2020-08-22,34,11377239.0,True,False,108839,956.63807,2020-08-22,0.0280,3046,166,state,RS,4504,53
582693,NaN,42,2020-08-22,34,7164788.0,True,False,132008,1842.45507,2020-08-22,0.0154,2027,164,state,SC,1659,32
582694,NaN,28,2020-08-22,34,2298696.0,True,False,70252,3056.16750,2020-08-22,0.0252,1771,162,state,SE,407,10
582695,NaN,35,2020-08-22,34,45919049.0,True,False,749244,1631.66271,2020-08-22,0.0379,28392,180,state,SP,13284,237
582696,NaN,17,2020-08-22,34,1572866.0,False,True,42839,2723.62681,2020-08-21,0.0134,573,158,state,TO,0,0

In [4]:
tab = tab.drop(columns=['is_last', 'is_repeated', 'new_confirmed', 'new_deaths', 'estimated_population_2019', 'last_available_confirmed_per_100k_inhabitants', 'last_available_death_rate', 'order_for_place'])

In [5]:
ultimo_dia_semana = list(tab[tab['city']=='São Paulo'].groupby('epidemiological_week')['date'].agg(lambda x:x[x.last_valid_index()]).values)
ultimo_dia_semana

['2020-02-29',
 '2020-03-07',
 '2020-03-14',
 '2020-03-21',
 '2020-03-28',
 '2020-04-04',
 '2020-04-11',
 '2020-04-18',
 '2020-04-25',
 '2020-05-02',
 '2020-05-09',
 '2020-05-16',
 '2020-05-23',
 '2020-05-30',
 '2020-06-06',
 '2020-06-13',
 '2020-06-20',
 '2020-06-27',
 '2020-07-04',
 '2020-07-11',
 '2020-07-18',
 '2020-07-25',
 '2020-08-01',
 '2020-08-08',
 '2020-08-15',
 '2020-08-22']

In [6]:
tab_states = tab[tab['place_type']=='state']
tab_states

,city,city_ibge_code,date,epidemiological_week,last_available_confirmed,last_available_date,last_available_deaths,place_type,state
1,NaN,35,2020-02-25,9,1,2020-02-25,0,state,SP
3,NaN,35,2020-02-26,9,1,2020-02-26,0,state,SP
5,NaN,35,2020-02-27,9,1,2020-02-27,0,state,SP
7,NaN,35,2020-02-28,9,2,2020-02-28,0,state,SP
9,NaN,35,2020-02-29,9,2,2020-02-29,0,state,SP
...,...,...,...,...,...,...,...,...,...
582692,NaN,43,2020-08-22,34,108839,2020-08-22,3046,state,RS
582693,NaN,42,2020-08-22,34,132008,2020-08-22,2027,state,SC
582694,NaN,28,2020-08-22,34,70252,2020-08-22,1771,state,SE
582695,NaN,35,2020-08-22,34,749244,2020-08-22,28392,state,SP
582696,NaN,17,2020-08-22,34,42839,2020-08-21,573,state,TO

In [7]:
df_states = tab_states[tab_states['epidemiological_week']==31].groupby('state')[['city_ibge_code']].agg(lambda x:x[x.last_valid_index()]).copy()
df_states

       city_ibge_code
state
AC                 12
AL                 27
AM                 13
AP                 16
BA                 29
CE                 23
DF                 53
ES                 32
GO                 52
MA                 21
MG                 31
MS                 50
MT                 51
PA                 15
PB                 25
PE                 26
PI                 22
PR                 41
RJ                 33
RN                 24
RO                 11
RR                 14
RS                 43
SC                 42
SE                 28
SP                 35
TO                 17

In [8]:
for x in range(9,35):
    df_states['last_available_confirmed_week_{}'.format(x)] = tab_states[tab_states['epidemiological_week']==x].groupby('state')['city_ibge_code', 'last_available_confirmed'].agg(lambda x:x[x.last_valid_index()]).last_available_confirmed
    df_states['last_available_deaths_week_{}'.format(x)] = tab_states[tab_states['epidemiological_week']==x].groupby('state')['city_ibge_code', 'last_available_deaths'].agg(lambda x:x[x.last_valid_index()]).last_available_deaths
    
df_states = df_states.fillna(0)
df_states

/home/marchesotti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/home/marchesotti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

,city_ibge_code,last_available_confirmed_week_9,last_available_deaths_week_9,last_available_confirmed_week_10,last_available_deaths_week_10,last_available_confirmed_week_11,last_available_deaths_week_11,last_available_confirmed_week_12,last_available_deaths_week_12,last_available_confirmed_week_13,...,last_available_confirmed_week_30,last_available_deaths_week_30,last_available_confirmed_week_31,last_available_deaths_week_31,last_available_confirmed_week_32,last_available_deaths_week_32,last_available_confirmed_week_33,last_available_deaths_week_33,last_available_confirmed_week_34,last_available_deaths_week_34
state,,,,,,,,,,,,,,,,,,,,,
AC,12,0.0,0.0,0.0,0.0,0.0,0.0,11,0,25,...,18657,483,19930,535,21498,559,22516,576,23665,598
AL,27,0.0,0.0,0.0,0.0,1.0,0.0,7,0,14,...,54730,1486,60992,1581,66748,1665,72076,1742,75470,1810
AM,13,0.0,0.0,0.0,0.0,2.0,0.0,11,0,111,...,96094,3210,101777,3278,106428,3355,111241,3463,115369,3557
AP,16,0.0,0.0,0.0,0.0,0.0,0.0,1,0,4,...,35162,554,36595,568,38139,601,39431,613,41031,630
BA,29,0.0,0.0,2.0,0.0,7.0,0.0,41,0,127,...,146399,3140,168926,3517,191401,3899,214379,4338,234204,4832
CE,23,0.0,0.0,0.0,0.0,0.0,0.0,84,0,322,...,161844,7480,176371,7704,188289,7954,197381,8129,204931,8288
DF,53,0.0,0.0,1.0,0.0,8.0,0.0,108,0,260,...,94187,1275,107922,1490,121824,1712,135014,1958,147127,2257
ES,32,0.0,0.0,1.0,0.0,4.0,0.0,26,0,61,...,76598,2386,83814,2565,91146,2720,98765,2863,105633,3015
GO,52,0.0,0.0,0.0,0.0,4.0,0.0,19,0,56,...,55567,1380,69820,1691,84963,2017,101290,2314,116058,2735
MA,21,0.0,0.0,0.0,0.0,0.0,0.0,2,0,15,...,113563,2898,121581,3032,129700,3154,136280,3253,143873,3340
MG,31,0.0,0.0,0.0,0.0,4.0,0.0,55,0,205,...,110093,2404,129985,2861,150723,3449,171514,4044,191507,4737
MS,50,0.0,0.0,0.0,0.0,2.0,0.0,16,0,31,...,21514,305,26003,404,31344,509,36836,626,41888,722
MT,51,0.0,0.0,0.0,0.0,0.0,0.0,1,0,11,...,43253,1580,53151,1876,63336,2125,72791,2363,81469,2558
PA,15,0.0,0.0,0.0,0.0,0.0,0.0,2,0,18,...,148463,5716,156285,5773,167642,5885,177969,5940,189289,6057
PB,25,0.0,0.0,0.0,0.0,0.0,0.0,1,0,14,...,75723,1675,83461,1833,89893,1983,95588,2138,100970,2288
PE,26,0.0,0.0,0.0,0.0,7.0,0.0,33,0,68,...,86752,6299,96746,6597,104113,6920,111773,7156,118027,7364
PI,22,0.0,0.0,0.0,0.0,0.0,0.0,4,0,11,...,46044,1243,52993,1369,59982,1480,66078,1608,71899,1714
PR,41,0.0,0.0,0.0,0.0,6.0,0.0,43,0,137,...,65593,1653,77930,1975,91127,2319,103771,2665,116848,2961
RJ,33,0.0,0.0,2.0,0.0,15.0,0.0,119,3,558,...,156293,12808,167213,13556,178524,14070,190614,14526,210464,15267
RN,24,0.0,0.0,0.0,0.0,1.0,0.0,9,0,68,...,47099,1678,51988,1889,55315,1976,57860,2068,59590,2171
RO,11,0.0,0.0,0.0,0.0,0.0,0.0,3,0,6,...,35573,810,39504,881,43866,940,47652,1012,50995,1061
RR,14,0.0,0.0,0.0,0.0,0.0,0.0,2,0,16,...,29829,473,33151,513,36387,547,39623,568,41527,579
RS,43,0.0,0.0,0.0,0.0,4.0,0.0,69,0,200,...,59118,1554,70456,1947,83595,2346,97445,2647,108839,3046
SC,42,0.0,0.0,0.0,0.0,5.0,0.0,57,0,184,...,67333,880,86922,1154,104749,1419,120001,1767,132008,2027
SE,28,0.0,0.0,0.0,0.0,1.0,0.0,10,0,16,...,52264,1303,59724,1448,64271,1577,67701,1696,70252,1771
SP,35,2.0,0.0,13.0,0.0,65.0,0.0,396,15,1406,...,479481,21517,552318,23236,621731,25016,697530,26780,749244,28392
TO,17,0.0,0.0,0.0,0.0,0.0,0.0,2,0,9,...,21767,346,26434,395,31663,451,36989,511,42839,573

In [9]:
total_confirmed = tab_states[tab_states['date'].isin(ultimo_dia_semana)].groupby('epidemiological_week')['last_available_confirmed'].agg(sum)
total_deaths = tab_states[tab_states['date'].isin(ultimo_dia_semana)].groupby('epidemiological_week')['last_available_deaths'].agg(sum)
total_confirmed

epidemiological_week
9           2
10         19
11        136
12       1132
13       3953
14      10381
15      20991
16      37175
17      59506
18      97430
19     157248
20     234575
21     351125
22     502913
23     676893
24     851779
25    1071337
26    1318551
27    1580041
28    1844313
29    2077955
30    2398993
31    2711992
32    3018397
33    3320108
34    3585016
Name: last_available_confirmed, dtype: int64

In [10]:
dict = {'city_ibge_code': 0}
for x in range (26):
    dict['last_available_confirmed_week_{}'.format(x+9)] = total_confirmed.values[x:x+1]
    dict['last_available_deaths_week_{}'.format(x+9)] = total_deaths.values[x:x+1]
    
df_br = pd.DataFrame(data=dict, index=['TOTAL'])
df_br

,city_ibge_code,last_available_confirmed_week_9,last_available_deaths_week_9,last_available_confirmed_week_10,last_available_deaths_week_10,last_available_confirmed_week_11,last_available_deaths_week_11,last_available_confirmed_week_12,last_available_deaths_week_12,last_available_confirmed_week_13,...,last_available_confirmed_week_30,last_available_deaths_week_30,last_available_confirmed_week_31,last_available_deaths_week_31,last_available_confirmed_week_32,last_available_deaths_week_32,last_available_confirmed_week_33,last_available_deaths_week_33,last_available_confirmed_week_34,last_available_deaths_week_34
TOTAL,0,2,0,19,0,136,0,1132,18,3953,...,2398993,86536,2711992,93668,3018397,100648,3320108,107364,3585016,114350

In [11]:
df_states = pd.concat([df_states, df_br])
df_states

,city_ibge_code,last_available_confirmed_week_9,last_available_deaths_week_9,last_available_confirmed_week_10,last_available_deaths_week_10,last_available_confirmed_week_11,last_available_deaths_week_11,last_available_confirmed_week_12,last_available_deaths_week_12,last_available_confirmed_week_13,...,last_available_confirmed_week_30,last_available_deaths_week_30,last_available_confirmed_week_31,last_available_deaths_week_31,last_available_confirmed_week_32,last_available_deaths_week_32,last_available_confirmed_week_33,last_available_deaths_week_33,last_available_confirmed_week_34,last_available_deaths_week_34
AC,12,0.0,0.0,0.0,0.0,0.0,0.0,11,0,25,...,18657,483,19930,535,21498,559,22516,576,23665,598
AL,27,0.0,0.0,0.0,0.0,1.0,0.0,7,0,14,...,54730,1486,60992,1581,66748,1665,72076,1742,75470,1810
AM,13,0.0,0.0,0.0,0.0,2.0,0.0,11,0,111,...,96094,3210,101777,3278,106428,3355,111241,3463,115369,3557
AP,16,0.0,0.0,0.0,0.0,0.0,0.0,1,0,4,...,35162,554,36595,568,38139,601,39431,613,41031,630
BA,29,0.0,0.0,2.0,0.0,7.0,0.0,41,0,127,...,146399,3140,168926,3517,191401,3899,214379,4338,234204,4832
CE,23,0.0,0.0,0.0,0.0,0.0,0.0,84,0,322,...,161844,7480,176371,7704,188289,7954,197381,8129,204931,8288
DF,53,0.0,0.0,1.0,0.0,8.0,0.0,108,0,260,...,94187,1275,107922,1490,121824,1712,135014,1958,147127,2257
ES,32,0.0,0.0,1.0,0.0,4.0,0.0,26,0,61,...,76598,2386,83814,2565,91146,2720,98765,2863,105633,3015
GO,52,0.0,0.0,0.0,0.0,4.0,0.0,19,0,56,...,55567,1380,69820,1691,84963,2017,101290,2314,116058,2735
MA,21,0.0,0.0,0.0,0.0,0.0,0.0,2,0,15,...,113563,2898,121581,3032,129700,3154,136280,3253,143873,3340
MG,31,0.0,0.0,0.0,0.0,4.0,0.0,55,0,205,...,110093,2404,129985,2861,150723,3449,171514,4044,191507,4737
MS,50,0.0,0.0,0.0,0.0,2.0,0.0,16,0,31,...,21514,305,26003,404,31344,509,36836,626,41888,722
MT,51,0.0,0.0,0.0,0.0,0.0,0.0,1,0,11,...,43253,1580,53151,1876,63336,2125,72791,2363,81469,2558
PA,15,0.0,0.0,0.0,0.0,0.0,0.0,2,0,18,...,148463,5716,156285,5773,167642,5885,177969,5940,189289,6057
PB,25,0.0,0.0,0.0,0.0,0.0,0.0,1,0,14,...,75723,1675,83461,1833,89893,1983,95588,2138,100970,2288
PE,26,0.0,0.0,0.0,0.0,7.0,0.0,33,0,68,...,86752,6299,96746,6597,104113,6920,111773,7156,118027,7364
PI,22,0.0,0.0,0.0,0.0,0.0,0.0,4,0,11,...,46044,1243,52993,1369,59982,1480,66078,1608,71899,1714
PR,41,0.0,0.0,0.0,0.0,6.0,0.0,43,0,137,...,65593,1653,77930,1975,91127,2319,103771,2665,116848,2961
RJ,33,0.0,0.0,2.0,0.0,15.0,0.0,119,3,558,...,156293,12808,167213,13556,178524,14070,190614,14526,210464,15267
RN,24,0.0,0.0,0.0,0.0,1.0,0.0,9,0,68,...,47099,1678,51988,1889,55315,1976,57860,2068,59590,2171
RO,11,0.0,0.0,0.0,0.0,0.0,0.0,3,0,6,...,35573,810,39504,881,43866,940,47652,1012,50995,1061
RR,14,0.0,0.0,0.0,0.0,0.0,0.0,2,0,16,...,29829,473,33151,513,36387,547,39623,568,41527,579
RS,43,0.0,0.0,0.0,0.0,4.0,0.0,69,0,200,...,59118,1554,70456,1947,83595,2346,97445,2647,108839,3046
SC,42,0.0,0.0,0.0,0.0,5.0,0.0,57,0,184,...,67333,880,86922,1154,104749,1419,120001,1767,132008,2027
SE,28,0.0,0.0,0.0,0.0,1.0,0.0,10,0,16,...,52264,1303,59724,1448,64271,1577,67701,1696,70252,1771
SP,35,2.0,0.0,13.0,0.0,65.0,0.0,396,15,1406,...,479481,21517,552318,23236,621731,25016,697530,26780,749244,28392
TO,17,0.0,0.0,0.0,0.0,0.0,0.0,2,0,9,...,21767,346,26434,395,31663,451,36989,511,42839,573
TOTAL,0,2.0,0.0,19.0,0.0,136.0,0.0,1132,18,3953,...,2398993,86536,2711992,93668,3018397,100648,3320108,107364,3585016,114350

In [12]:
df_states.to_csv('casos_e_mortes_acumulados_estado.csv')

In [13]:
tab_muni = tab[tab['place_type']=='city']
tab_muni

,city,city_ibge_code,date,epidemiological_week,last_available_confirmed,last_available_date,last_available_deaths,place_type,state
0,São Paulo,3550308,2020-02-25,9,1,2020-02-25,0,city,SP
2,São Paulo,3550308,2020-02-26,9,1,2020-02-26,0,city,SP
4,São Paulo,3550308,2020-02-27,9,1,2020-02-27,0,city,SP
6,São Paulo,3550308,2020-02-28,9,2,2020-02-28,0,city,SP
8,São Paulo,3550308,2020-02-29,9,2,2020-02-29,0,city,SP
...,...,...,...,...,...,...,...,...,...
582665,Tocantínia,1721109,2020-08-22,34,342,2020-08-21,4,city,TO
582666,Tupirama,1721257,2020-08-22,34,46,2020-08-21,1,city,TO
582667,Tupiratins,1721307,2020-08-22,34,7,2020-08-21,0,city,TO
582668,Wanderlândia,1722081,2020-08-22,34,232,2020-08-21,5,city,TO
582669,Xambioá,1722107,2020-08-22,34,656,2020-08-21,9,city,TO

In [14]:
df_muni = tab_muni[tab_muni['epidemiological_week']==31].groupby('city_ibge_code')['city', 'state'].agg(lambda x:x[x.last_valid_index()]).copy()
df_muni

/home/marchesotti/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                 city state
city_ibge_code
1100015         Alta Floresta D'Oeste    RO
1100023                     Ariquemes    RO
1100031                        Cabixi    RO
1100049                        Cacoal    RO
1100056                    Cerejeiras    RO
...                               ...   ...
5222005                    Vianópolis    GO
5222054                Vicentinópolis    GO
5222203                      Vila Boa    GO
5222302                 Vila Propício    GO
5300108                      Brasília    DF

[5500 rows x 2 columns]

In [15]:
for x in range(9,35):
    df_muni['last_available_confirmed_week_{}'.format(x)] = tab_muni[tab_muni['epidemiological_week']==x].groupby('city_ibge_code')['last_available_confirmed'].agg(lambda x:x[x.last_valid_index()])
    df_muni['last_available_deaths_week_{}'.format(x)] = tab_muni[tab_muni['epidemiological_week']==x].groupby('city_ibge_code')['last_available_deaths'].agg(lambda x:x[x.last_valid_index()])
    
df_muni = df_muni.fillna(0)
df_muni

,city,state,last_available_confirmed_week_9,last_available_deaths_week_9,last_available_confirmed_week_10,last_available_deaths_week_10,last_available_confirmed_week_11,last_available_deaths_week_11,last_available_confirmed_week_12,last_available_deaths_week_12,...,last_available_confirmed_week_30,last_available_deaths_week_30,last_available_confirmed_week_31,last_available_deaths_week_31,last_available_confirmed_week_32,last_available_deaths_week_32,last_available_confirmed_week_33,last_available_deaths_week_33,last_available_confirmed_week_34,last_available_deaths_week_34
city_ibge_code,,,,,,,,,,,,,,,,,,,,,
1100015,Alta Floresta D'Oeste,RO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,239.0,1.0,311,2,371,3,407,4,434,6
1100023,Ariquemes,RO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2291.0,38.0,2648,41,3194,49,3707,60,3971,63
1100031,Cabixi,RO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,37.0,3.0,45,3,55,4,67,4,70,4
1100049,Cacoal,RO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,656.0,11.0,779,12,1085,19,1225,19,1411,20
1100056,Cerejeiras,RO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,84.0,5.0,104,5,135,5,150,6,163,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222005,Vianópolis,GO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,92.0,1.0,96,1,101,1,116,1,133,2
5222054,Vicentinópolis,GO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,24.0,1.0,55,1,61,3,78,3,86,4
5222203,Vila Boa,GO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.0,0.0,32,0,34,0,40,0,41,0
5222302,Vila Propício,GO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,32.0,1.0,48,2,66,2,83,2,101,2
5300108,Brasília,DF,0.0,0.0,1.0,0.0,8.0,0.0,108.0,0.0,...,83222.0,1164.0,95152,1352,107567,1561,119068,1789,128149,2052

In [16]:
df_muni.to_csv('casos_e_mortes_acumulados_municipio.csv')