In [1]:
import geopandas as gpd
import geobr
import pandas as pd

In [2]:
municipios = pd.read_csv("Novos_Casos_Por_Cidade.csv")
municipios

,city,city_ibge_code,date,epidemiological_week,state,new_confirmed
0,São Paulo,3550308.0,2020-02-25,9,SP,1
1,São Paulo,3550308.0,2020-02-26,9,SP,0
2,São Paulo,3550308.0,2020-02-27,9,SP,0
3,São Paulo,3550308.0,2020-02-28,9,SP,1
4,São Paulo,3550308.0,2020-02-29,9,SP,0
...,...,...,...,...,...,...
488761,Tocantínia,1721109.0,2020-08-08,32,TO,0
488762,Tupirama,1721257.0,2020-08-08,32,TO,0
488763,Tupiratins,1721307.0,2020-08-08,32,TO,0
488764,Wanderlândia,1722081.0,2020-08-08,32,TO,1
488765,Xambioá,1722107.0,2020-08-08,32,TO,14

In [3]:
cod_mun = []
for i in municipios['city_ibge_code'].unique():
    cod_mun.append(i)

semanas = []
for i in municipios['epidemiological_week'].unique():
    semanas.append(i)

In [4]:
codigos = []
novos_confirmados = []
semana_epidemiologica = []

for c in cod_mun:
    mun_c = municipios[municipios['city_ibge_code'] == c]
    mun_c = mun_c.groupby(['epidemiological_week']).sum()
    for n in mun_c['new_confirmed'].tolist():
        novos_confirmados.append(n)
    for i in mun_c.index:
        semana_epidemiologica.append(i)
        codigos.append(c)

soma = pd.DataFrame(data = {'city_ibge_code': codigos, 'epidemiological_week': semana_epidemiologica,
                           'new_confirmed': novos_confirmados})
soma

       city_ibge_code  epidemiological_week  new_confirmed
0           3550308.0                     9              2
1           3550308.0                    10             10
2           3550308.0                    11             50
3           3550308.0                    12            244
4           3550308.0                    13            738
...               ...                   ...            ...
73821       4320230.0                    32              1
73822       4314472.0                    32              1
73823       2205250.0                    32              1
73824       3516101.0                    32              1
73825       4301503.0                    32              1

[73826 rows x 3 columns]

In [5]:
codigos = []
semana_epidemiologica = []
fator = []
for c in cod_mun:
    mun_c = soma[soma['city_ibge_code'] == c]
    linhas = mun_c.values
    for i in range(1,len(mun_c)):
        if(linhas[i-1][2] != 0):
            codigos.append(c)
            semana_epidemiologica.append(linhas[i][1])
            fator.append(round((linhas[i][2]/linhas[i-1][2]),2))

fator_crescimento = pd.DataFrame(data = {'city_ibge_code': codigos, 'epidemiological_week': semana_epidemiologica,
                                        'growth_factor': fator})
fator_crescimento

       city_ibge_code  epidemiological_week  growth_factor
0           3550308.0                  10.0           5.00
1           3550308.0                  11.0           5.00
2           3550308.0                  12.0           4.88
3           3550308.0                  13.0           3.02
4           3550308.0                  14.0           3.32
...               ...                   ...            ...
54933       5204656.0                  32.0           0.20
54934       5206701.0                  32.0           0.00
54935       4310876.0                  32.0           0.00
54936       4321493.0                  32.0           0.91
54937       3549607.0                  32.0          -1.00

[54938 rows x 3 columns]

In [6]:
fator_crescimento.to_csv("Fator_Crescimento_Municipios.csv", sep = ";", index = False)

In [7]:
estados = pd.read_csv("Novos_Casos_Por_Estado.csv")
estados

      city_ibge_code        date  epidemiological_week state  new_confirmed
0               35.0  2020-02-25                     9    SP              1
1               35.0  2020-02-26                     9    SP              0
2               35.0  2020-02-27                     9    SP              0
3               35.0  2020-02-28                     9    SP              1
4               35.0  2020-02-29                     9    SP              0
...              ...         ...                   ...   ...            ...
3947            14.0  2020-08-08                    32    RR            454
3948            43.0  2020-08-08                    32    RS           4569
3949            42.0  2020-08-08                    32    SC           3167
3950            28.0  2020-08-08                    32    SE            543
3951            35.0  2020-08-08                    32    SP          13352

[3952 rows x 5 columns]

In [8]:
cod_est = []
for i in estados['city_ibge_code'].unique():
    cod_est.append(i)

In [9]:
codigos = []
novos_confirmados = []
semana_epidemiologica = []

for c in cod_est:
    est_c = estados[estados['city_ibge_code'] == c]
    est_c = est_c.groupby(['epidemiological_week']).sum()
    for n in est_c['new_confirmed'].tolist():
        novos_confirmados.append(n)
    for i in est_c.index:
        semana_epidemiologica.append(i)
        codigos.append(c)

soma = pd.DataFrame(data = {'code_state': codigos, 'epidemiological_week': semana_epidemiologica,
                           'new_confirmed': novos_confirmados})
soma

     code_state  epidemiological_week  new_confirmed
0          35.0                     9              2
1          35.0                    10             11
2          35.0                    11             52
3          35.0                    12            331
4          35.0                    13           1010
..          ...                   ...            ...
585        14.0                    28           3303
586        14.0                    29           3242
587        14.0                    30           4362
588        14.0                    31           3322
589        14.0                    32           3236

[590 rows x 3 columns]

In [10]:
codigos = []
semana_epidemiologica = []
fator = []
for c in cod_est:
    est_c = soma[soma['code_state'] == c]
    linhas = est_c.values
    for i in range(1,len(est_c)):
        if(linhas[i-1][2] != 0):
            codigos.append(c)
            semana_epidemiologica.append(linhas[i][1])
            fator.append(round((linhas[i][2]/linhas[i-1][2]),2))

fator_crescimento = pd.DataFrame(data = {'code_state': codigos, 'epidemiological_week': semana_epidemiologica,
                                        'growth_factor': fator})
fator_crescimento

     code_state  epidemiological_week  growth_factor
0          35.0                  10.0           5.50
1          35.0                  11.0           4.73
2          35.0                  12.0           6.37
3          35.0                  13.0           3.05
4          35.0                  14.0           3.03
..          ...                   ...            ...
557        14.0                  28.0           0.72
558        14.0                  29.0           0.98
559        14.0                  30.0           1.35
560        14.0                  31.0           0.76
561        14.0                  32.0           0.97

[562 rows x 3 columns]

In [11]:
fator_crescimento.to_csv("Fator_Crescimento_Estados.csv", sep = ";", index = False)